<div class="vehicles-page">
  <div class="vehicles-panel-title">
    <h1>Vehicles</h1>
    <div class="add-new-button" (click)="openDialogForAddNewVehicle()"><div
        class="add-new-btn"></div></div>
  </div>

  <div class="vehicle-table-container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8
      vehicles-table">
      <ng-container matColumnDef="bra_name">
        <th mat-header-cell *matHeaderCellDef> Marka </th>
        <td mat-cell *matCellDef="let element"> {{element.bra_name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="mod_name">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.mod_name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="vhc_registration">
        <th mat-header-cell *matHeaderCellDef> Registracija </th>
        <td mat-cell *matCellDef="let element"> {{element.vhc_registration}}
        </td>
      </ng-container>

      <ng-container matColumnDef="vhc_chassis_number">
        <th mat-header-cell *matHeaderCellDef class="mobile-show"> Br. Sasije
        </th>
        <td mat-cell *matCellDef="let element" class="mobile-show">
          {{element.vhc_chassis_number}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="table-row" (click)="test(row.vhc_id)"></tr>
    </table>
  </div>

</div>
<div *ngIf="showAddNewVehicleDialog" class="add-new-vehicle-dialog-container">
  <div class="add-new-vehicle-dialog">
    <div class="close-dialog-button" (click)="closeDialogForAddNewUser()"><div
        class="close-dialog-btn"></div>
    </div>
    <div class="add-new-vehicle-form-title">
      <h2>Dodaj novo vozilo</h2>
    </div>
    <div class="add-new-vehicle-dialog-items">
      <div class="add-new-vehicle-dialog-item">
        <label for="">Broj sasije</label>
        <input type="text">
      </div>
      <div class="add-new-vehicle-dialog-item">
        <label for="">Registracija</label>
        <input type="text">
      </div>
      <div class="add-new-vehicle-dialog-item">
        <label for="">Godiste</label>
        <input type="text">
      </div>
      <div>
        <label for="">Marka</label>
        <ng-select [(ngModel)]="selectedCar" class="vehicles-brands-select" (change)="aa()">
          <ng-option *ngFor="let car of cars" [value]="car.bra_id">{{car.bra_name}}</ng-option>
        </ng-select>
      </div>
      <div *ngIf="selectedCar">
        <label for="">Model</label>
        <ng-select [(ngModel)]="selectedModel">
          <ng-option *ngFor="let model of models" [value]="model.mod_id">{{model.mod_name}}</ng-option>
        </ng-select>
      </div>
    </div>

  </div>
</div>