.vehicles-table {
    width: 100%;
}

.vehicle-table-container {
    width: 80%;
}

.table-row:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 575px) {
    .vehicle-table-container {
        width: 95%;
    }

    
}