<div class="admin-panel">
    <div class="admin-panel-left-div">
        <div class="admin-panel-nav">
            <div class="admin-panel-nav-item">
                <div routerLink="users">Users</div>
            </div>
            <div class="admin-panel-nav-item">
                <div routerLink="users">Services</div>
            </div>
            <div class="admin-panel-nav-item">
                <div routerLink="create-user">Test</div>
            </div>
        </div>
    </div>
    <div class="admin-panel-right-div">
        <router-outlet></router-outlet>
    </div>
</div>
