/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #EFEFEF;
}

.flex {
    display: flex;
}

.vehicle-item,
.nav-item {
    padding: 5px;
}

.vehicles-page,
.main-page {
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.vehicle:hover {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    background-color: #ffffff;
    height: 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;
}

.logout-div {
    position: absolute;
    right: 10px;
}

.table-row-cursor-pionter:hover {
    cursor: pointer;
}

html,
body {
    // height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.add-new-button {
    position: absolute;
    right: 0;
    background-color: #757575;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50px;
    border-radius: 50%;
}

.add-new-btn {
    background-image: url('./assets/icons/icons8-plus-math-30.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;

}

.add-new-button:hover {
    cursor: pointer;
}

.close-dialog-button {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}

.close-dialog-button:hover {
    cursor: pointer;
}

.vehicles-brands-select {
    .ng-dropdown-panel .scroll-host {
        max-height: 100px !important;
    }
}

.close-dialog-btn {
    background-image: url('./assets/icons/icons8-macos-close-32.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
}

@media screen and (max-width: 575px) {


    .mobile-show {
        display: none;
    }
}